[submodule "amf"]
	path = NFs/amf
	url = https://github.com/eggegg123/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = https://github.com/eggegg123/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/eggegg123/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/eggegg123/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = https://github.com/eggegg123/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://github.com/eggegg123/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://github.com/eggegg123/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://github.com/eggegg123/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://github.com/eggegg123/udr.git
[submodule "upf"]
	path = NFs/upf
	url = https://github.com/eggegg123/upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/free5gc/webconsole.git
